# **Dataset Info.**

**apply_train.csv**

이력서가 채용 공고에 실제 지원한 관계 목록 (히스토리)

**이력서 관련 데이터**

resume.csv

resume_certificate.csv

resume_education.csv

resume_language.csv

**채용공고 관련 데이터**

recruitment.csv
company.csv

sample_submission.csv [파일]

- 제출 양식

resume_seq : 추천을 진행할 이력서 고유 번호

recruitment_seq : 이력서에 대해 추천한 채용 공고 고유 번호

resume.csv에 존재하는 모든 resume_seq에 대해서 5개의 채용 공고를 추천해야 합니다.

해당 이력서에서 실제 지원이 이루어졌던 채용 공고는 추천하지 않습니다.

중복된 채용 공고를 추천하거나, 5개가 아닌 개수의 채용 공고를 추천하는 경우 제출이 불가능합니다.

# **참고할만한 문헌**

**유사도를 활용한 맞춤형 보험 추천 시스템**
 - https://eds.s.ebscohost.com/abstract?site=eds&scope=site&jrnl=22344772&AN=160571615&h=nBWJ8MZ1VBxMHQMYz4s9qQHgOjuLMkVqjCvDvX%2fto3azA7BD2spqKM7vicp7gS4GyrqWjkVPK3G9ZoRdyNUaKA%3d%3d&crl=c&resultLocal=ErrCrlNoResults&resultNs=Ehost&crlhashurl=login.aspx%3fdirect%3dtrue%26profile%3dehost%26scope%3dsite%26authtype%3dcrawler%26jrnl%3d22344772%26AN%3d160571615
 > -> decision tree and random forest classifier, K-means clustering algorithm and manually operated algorithm

**구글 스칼라 인용수 1000회 이상 문헌**

**Recommender systems**
 - https://www.sciencedirect.com/science/article/pii/S0370157312000828
 - 1212회 인용

**Recommender Systems in E-Commerce**
 - https://dl.acm.org/doi/pdf/10.1145/336992.337035
 - 2736회 인용

**Recommender system application developments: A survey**
 - https://www.sciencedirect.com/science/article/pii/S0167923615000627
 - 1717회 인용

**Research-paper recommender systems: a literature survey**
 - https://link.springer.com/article/10.1007/s00799-015-0156-0
 - 1087회 인용

In [1]:
import pandas as pd

In [3]:
df_apply_train = pd.read_csv('/content/apply_train.csv')
df_company = pd.read_csv('/content/company.csv')
df_recruitment = pd.read_csv('/content/recruitment.csv')
df_resume = pd.read_csv('/content/resume.csv')
df_resume_certificate = pd.read_csv('/content/resume_certificate.csv')
df_resume_education = pd.read_csv('/content/resume_education.csv')
df_resume_language = pd.read_csv('/content/resume_language.csv')

In [33]:
print(df_apply_train.shape)
print("이력서 번호의 수 (지원자의 수) :",len(df_apply_train['resume_seq'].unique()))
df_apply_train.head(1)

# resume_seq : 추천을 진행할 이력서 고유 번호 (취준생들의 ID)
# -> 8482명의 지원자들을 가지고 학습 -> 8482의 지원자들이 여러 기업(이력서)를 작성 -> 총 57946개의 이력서

# recreuitment_seq : 이력서에 대해 추천한 채용 공고 고유 번호 (기업들의 ID?)

(57946, 2)
이력서 번호의 수 (지원자의 수) : 8482

  resume_seq recruitment_seq
0     U05833          R03838

In [36]:
print(df_company.shape)
print("공고 종류 :", len(df_company['recruitment_seq'].unique()))
# 공고 종류 : 2377
print("회사 종류 :", len(df_company['company_type_seq'].unique()))
# 회사 종류 : 6
print("주 업종 종류 :", len(df_company['supply_kind'].unique()))
# 주 업종 종류 : 17
df_company.head(1)

# recruitment_seq : 공고 번호
# company_type_seq : 회사 유형 코드
# supply_kind : 주 업종 코드
# employee : 종업원 수

(2377, 4)
공고 종류 : 2377
회사 종류 : 6
주 업종 종류 : 17

  recruitment_seq  company_type_seq  supply_kind  employee
0          R02073                 2          514        20

In [19]:
print(df_recruitment.shape)
df_recruitment.head(1)

# recruitment_seq : 공고 번호
# address_seq1 : 근무지 주소 코드1~3  -> 왜 근무지 주소 코드가 여러개? 항상 셋 중 하나만 데이터가 있고 나머지 두개는 널 데이터인가?
# career_end : 요구 최대 경력
# career_start : 요구 최소 경력
# check_box_keyword : 모집 직무 코드
# education : 요구 학위
# major_task : 주 업무 코드
# qualifications : 자격 요건 난이도
# text_keyword : 모집 직무 키워드

### Clustering 기반으로 수행 ###

(6695, 11)

,recruitment_seq,address_seq1,address_seq2,address_seq3,career_end,career_start,check_box_keyword,education,major_task,qualifications,text_keyword
0,R02264,3.0,NaN,NaN,0,0,2507;2707;2810,4,8,1,NaN

In [20]:
print(df_resume.shape)
df_resume.head(1)

# resume_seq : 이력서번호
# reg_date : 이력서 등록일
# updated_date : 이력서 수정일
# degree : 최종 학력
# graduate_date	 : 졸업 년도
# hope_salary : 희망 연봉
# last_salary : 최종 연봉
# text_keyword : 직무 키워드
# job_code_seq1~3 : 희망직무1~3
# career_month : 경력월
# career_job_code : 경력직무

(8482, 13)

,resume_seq,reg_date,updated_date,degree,graduate_date,hope_salary,last_salary,text_keyword,job_code_seq1,job_code_seq2,job_code_seq3,career_month,career_job_code
0,U00606,2020-03-04,2020-05-22,4,2008,3500.0,3500.0,스타일디자이너;우븐디자이너,재료·화학·섬유·의복,NaN,NaN,67,NaN

In [21]:
print(df_resume_certificate.shape)
df_resume_certificate.head(1)

# resume_seq : 이력서 번호
# certificate_contents : 자격 증명

### 왤케 많지? 같은 이력서에 자격증이 여러개인가? ###

(12975, 2)

  resume_seq certificate_contents
0     U06421                손해보험사

In [24]:
print(df_resume_education.shape)
df_resume_education.head(1)

# resume_seq : 이력서 번호
# hischool_type_seq : 고등학교 유형 코드
# hischool_special_type : 특수 고등학교 분류
# hischool_nation : 고등학교 공립/사립 구분
# hischool_gender : 고등학교 남녀/공학 구분
# hischool_location_seq : 고등학교 지역 코드
# univ_type_seq1~2 : 최종대학(원) 유형 코드1~2
# univ_transfer : 최종대학(원) 편입 여부(1:편입)
# univ_location : 최종대학(원) 지역 코드
# univ_major : 최종대학(원) 전공
# univ_sub_major : 최종대학(원) 부전공
# univ_major_type : 최종대학(원) 주 전공 계열 코드
# univ_score : 최종대학(원) 평균 평점

(8482, 14)

,resume_seq,hischool_type_seq,hischool_special_type,hischool_nation,hischool_gender,hischool_location_seq,univ_type_seq1,univ_type_seq2,univ_transfer,univ_location,univ_major,univ_sub_major,univ_major_type,univ_score
0,U01419,21,일반고,사립,남자학교,3,5,5,0,3,NaN,NaN,9,60.0

In [23]:
print(df_resume_language.shape)
df_resume_language.head(1)

# resume_seq : 이력서 번호
# language : 외국어 코드
# exam_name : 공인 시험 코드
# score : 점수

(869, 4)

  resume_seq  language  exam_name   score
0     U01774         2          4  742.42